.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.logoText {
  margin-left: 10px;
  font-size: 20px;
  color: var(--text-color);
  -webkit-text-fill-color: var(--text-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--label-color);
}

.profileImage {
  cursor: pointer;
}

.username {
  padding: 0 10px 10px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .logoText {
    font-size: 1rem;
  }
}
