.card {
  text-align: left;
  border: 1px solid #eaeaea;
  background-color: var(--bg-color-secondary);
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  transition: all 0.5s ease;
}

.card:hover {
  box-shadow: 0 5px 5px var(--hover-color);
}

.top,
.bottom {
  padding: 10px 20px 20px;
}

.top {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: url('../../../public/class_background.jpg');
}

.top__main {
  flex: 1;
  margin-bottom: 10px;
}

.icons {
  position: absolute;
  right: 18px;
  left: 18px;
  top: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icons__withShield {
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.subject {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.bottom {
  height: 50px;
  border-top: 1px solid rgb(204, 203, 203);
  margin-top: auto;
  flex-shrink: 0;
}
