.board {
  table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      position: relative;
      border: 1px solid var(--table-border-color);
      text-align: left;
      padding: 8px;
    }

    tr:hover {
      transition: 0.2s all ease;
      background-color: var(--hover-color);
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      display: none;
    }

    .user {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      div {
        cursor: pointer;

        &:first-child {
          margin-right: 0.5rem;
        }
      }

      &__grade-review {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }

    .option {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }

    .text-small {
      display: block;
      font-size: 0.8rem;
      font-weight: 400;
    }
  }

  .mark {
    cursor: initial;

    &--cursor {
      cursor: pointer;
    }

    &--hide {
      display: none;
    }
  }

  .input {
    &__input {
      max-width: 150px;
      line-height: 1.5;
      margin-right: 10px;
      outline: none;
      border: 0;
      border-bottom: 1px solid black;
      background-color: var(--hover-color);
      color: var(--text-color);
      font-size: unset;
    }

    &__button {
      width: fit-content;
      height: fit-content;
      outline: none;
      border: 0;
      color: white;
      background-color: var(--text-color-secondary);
      opacity: 0.9;
      border-radius: 3px;
      cursor: pointer;

      &--red {
        opacity: 0.6;
        background-color: red;
      }

      &:hover {
        opacity: 1;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &--hide {
      display: none;
    }
  }
}
