.body {
  padding: 4.5rem 3rem 0 3rem;
  background-color: var(--bg-color-main);
  min-height: 100vh;
  color: var(--text-color);
  &--padding {
    padding: 7rem 3rem 0 3rem;
  }
}

.header {
  padding: 10px 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color-main);
  box-shadow: 0 0 6px #b3b3b3;
  z-index: 10;
}

@media screen and (max-width: 600px) {
  .body {
    padding: 4.5rem 1rem 0 1rem;
    &--padding {
      padding: 7rem 1rem 0 1rem;
    }
  }

  .header {
    padding: 10px 25px;
  }
}
