.section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-secondary);
  &--center {
    align-items: center;
    text-align: center;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  z-index: 1;
  &__upload {
    position: absolute;
    top: 0;
    right: -30px;
    z-index: 2;
  }
}

.field {
  &__name {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.buttons {
  margin-top: 0.5rem;
  align-self: flex-end;
}
