.text {
  display: flex;
  flex-direction: row;
  &::before,
  &::after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid rgb(189, 189, 189);
    margin: auto;
  }
  &::before {
    margin-right: 0.8rem;
  }
  &::after {
    margin-left: 0.8rem;
  }
}
