.container {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--bg-color-secondary);
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
