.top {
  padding-left: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--text-color-secondary);
  border-bottom: 1px solid #4285f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  padding-top: 0.8rem;
  padding-left: 1rem;
}
.person {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  span {
    margin-left: 1rem;
  }
}
