.title {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
}

.email {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__box {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(209, 209, 209);
    color: black;
    display: flex;
    margin-right: 10px;
  }
}

.grade {
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__approve {
    height: fit-content;
  }
}

.comments {
  max-height: 40vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 117, 117);
  }

  &__item {
    padding: 0.5rem 0;
  }
  &__time {
    font-weight: 300;
  }
}

.form {
  &__comment {
    display: flex;
    flex-direction: column;

    button {
      width: fit-content;
      margin: 10px auto;
    }
  }
}
