.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #e2f5fc;
}

.main {
  padding: 50px;
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);

  &__image {
    width: fit-content;
    margin: 0 auto;
  }
}

.title {
  padding-bottom: 30px;
  display: block;
  font-size: 30px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}

.form {
  .input {
    margin-bottom: 10px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.formBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
}

.subText {
  text-align: left;
  a {
    color: rgb(69, 69, 252);
  }
}

.subText_text {
  font-size: 15px;
  line-height: 1.4;
}
