.app {
  position: relative;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  cursor: context-menu;
  &__icon {
    svg {
      font-size: 2rem;
    }
  }

  &__box {
    display: block;
    position: absolute;
    padding: 15px;
    top: calc(100% + 7px);
    right: 0;
    width: 350px;
    max-height: 70vh;
    overflow: auto;
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--hover-color);
    z-index: 999;

    &--close {
      display: none;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(211, 211, 211);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(172, 172, 172);
    }
  }

  &__section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    &__title {
      margin-top: 1rem;
    }
  }
  &__item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.1s ease;
    &--active {
      font-weight: bold;
    }
    &:hover {
      background-color: var(--hover-color);
    }
  }
}

.notification {
  &__item {
    display: flex;
    padding: 10px;
    color: var(--text-color);

    &__right {
      user-select: text;
      margin-left: 1rem;
      flex: 1;
    }
  }

  &__title {
    font-weight: 500;
  }
  &__time {
    font-weight: 300;
    font-size: 0.8rem;
  }
}
