.container {
  width: 45%;
  margin: 0 auto;
  overflow: hidden;
}

.section {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 1025px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
}
