.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--bg-color-main);
}

.wheel {
  margin-right: 10px;
}

.text {
  font-size: 20px;
  color: var(--text-color);
  -webkit-text-fill-color: var(--text-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--label-color);
}
