.main {
  &__container {
    margin: 0 auto;
  }
  &__section {
    margin-bottom: 1.5rem;
  }
}

.box {
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--bg-color-secondary);
}

@media screen and (max-width: 600px) {
  .people,
  .main {
    &__container {
      width: 100%;
    }
  }
}
