.cards {
  --spacing: 25px;
  --columns: 3;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -30px;
  margin-left: calc(-1 * var(--spacing));
}

.card {
  position: relative;
  text-align: left;
  border: 1px solid #eaeaea;
  padding: 0.8rem;
  background-color: var(--bg-color-secondary);
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  height: 100%;
  transition: all 0.5s ease;

  text-decoration: none;
  width: calc(calc(100% / var(--columns)) - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);

  &__button {
    position: absolute;
    right: 10px;
    z-index: 1;
  }

  &:hover {
    box-shadow: 0 5px 5px var(--hover-color);
  }
}

.name {
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@media screen and (max-width: 1023px) {
  .cards {
    --columns: 2;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    --spacing: 15px;
    --columns: 1;
  }
}
