@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #1967d2;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.profile-image {
  border-radius: 50%;
}

.noti {
  font-style: italic;
}

.success {
  font-style: italic;
  color: #28a745;
  font-size: 0.8rem;
}

.success::before {
  content: '✓ ';
}

.error {
  font-style: italic;
  color: red;
  font-size: 0.9rem;
}

.error::before {
  content: '* ';
}

:root {
  --bg-color-main: rgb(248, 248, 248);
  --bg-color-secondary: #fcfcfc;

  --text-color: #1e1e1e;
  --text-color-secondary: #1967d2;
  --label-color: #6e6e6e;
  --table-border-color: #dddddd;

  --hover-color: #ececec;
}

[theme='dark'] {
  --bg-color-main: #192238;
  --bg-color-secondary: #272e48;

  --text-color: #ffffff;
  --text-color-secondary: #bdd1f8;
  --label-color: #dedede;
  --table-border-color: #5c6069;

  --hover-color: #343b53;
}
