.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  &--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.cards {
  --spacing: 25px;
  --columns: 4;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -30px;
  margin-left: calc(-1 * var(--spacing));
}

.card {
  text-decoration: none;
  width: calc(30% - 30px);
  width: calc(calc(100% / var(--columns)) - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  transition: all 0.5s ease;
}

.card:hover {
  transform: translateY(-3px);
}

@media screen and (max-width: 1023px) {
  .cards {
    --columns: 2;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    --spacing: 15px;
    --columns: 1;
  }
}
