.top {
  margin-bottom: 1rem;
  padding: 0 10rem 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-secondary);
  box-shadow: 0 5px 5px -1px var(--hover-color);

  img {
    width: 100%;
  }
}

.name {
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.menu {
  list-style-type: none;
  display: flex;
  align-self: flex-start;
  padding-left: 0;
  margin: 0;

  &__item {
    position: relative;
    padding: 1rem;
    transition: 0.2s ease;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;

    a {
      color: var(--text-color);
    }

    &--active {
      font-weight: 600;

      a {
        color: var(--text-color-secondary);
      }
    }

    &--active::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--text-color-secondary);
      bottom: 0;
      left: 0;
    }

    &:hover {
      background-color: var(--hover-color);
    }
  }
}

.content {
  width: 70%;
  padding: calc(1rem - 10px);
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .top {
    padding: 0 5rem 0 5rem;
  }
}

@media screen and (max-width: 600px) {
  .top {
    padding: 0;
  }

  .content {
    padding-left: 1rem;
    width: 100%;
  }
}
